<div class="row">
  <img src="<%= asset_path( 'LadyBirdLake_BoNielson.jpg' ) %>" alt="" />
  <p class=""><a href="https://www.flickr.com/photos/bo47/6184854411/in/photolist-e64zg2-e4N4Wv-cfskX9-6UK3Jb-ck6ztA-ddx6PF-4PjLT6-4PjMi4-7Xcntv-a6DojS-a6Dou9-8YPvqM-aqwZJT-edzHSa-eh8j1E-sdvaG-cdenVj-5UXuc1-eanhfK-5G26We-eanhV2-cet9Rf-dAgvDD-bVuc2m-aFuRxB-cH5sK9-eanhqx-6WNgQv-a1Rd71-bDhEyP-8ZoPpy-6M42Xx-fuY96e-6zQche-8UQJhG-9i861p-86jeVz-89HDGy-5FV3Qp-bbX7d-89HDH5-92LrLB-npE4zt-npnwRJ-c9iXkq-c9j3w5-c9j3XS-86jcne-nNGgqm-eZ5RXj/"><em>Lady Bird Lake</em> by Bo Nielson</a></p>
</div>
<div class="row">
  <img src="<%= asset_path( 'LadyBirdLake_BoNielson.jpg' ) %>" alt="" />
  <p class=""><a href="https://www.flickr.com/photos/bo47/6184854411/in/photolist-e64zg2-e4N4Wv-cfskX9-6UK3Jb-ck6ztA-ddx6PF-4PjLT6-4PjMi4-7Xcntv-a6DojS-a6Dou9-8YPvqM-aqwZJT-edzHSa-eh8j1E-sdvaG-cdenVj-5UXuc1-eanhfK-5G26We-eanhV2-cet9Rf-dAgvDD-bVuc2m-aFuRxB-cH5sK9-eanhqx-6WNgQv-a1Rd71-bDhEyP-8ZoPpy-6M42Xx-fuY96e-6zQche-8UQJhG-9i861p-86jeVz-89HDGy-5FV3Qp-bbX7d-89HDH5-92LrLB-npE4zt-npnwRJ-c9iXkq-c9j3w5-c9j3XS-86jcne-nNGgqm-eZ5RXj/"><em>Lady Bird Lake</em> by Bo Nielson</a></p>
</div>
<div class="row">
  <img src="<%= asset_path( 'LadyBirdLake_BoNielson.jpg' ) %>" alt="" />
  <p class=""><a href="https://www.flickr.com/photos/bo47/6184854411/in/photolist-e64zg2-e4N4Wv-cfskX9-6UK3Jb-ck6ztA-ddx6PF-4PjLT6-4PjMi4-7Xcntv-a6DojS-a6Dou9-8YPvqM-aqwZJT-edzHSa-eh8j1E-sdvaG-cdenVj-5UXuc1-eanhfK-5G26We-eanhV2-cet9Rf-dAgvDD-bVuc2m-aFuRxB-cH5sK9-eanhqx-6WNgQv-a1Rd71-bDhEyP-8ZoPpy-6M42Xx-fuY96e-6zQche-8UQJhG-9i861p-86jeVz-89HDGy-5FV3Qp-bbX7d-89HDH5-92LrLB-npE4zt-npnwRJ-c9iXkq-c9j3w5-c9j3XS-86jcne-nNGgqm-eZ5RXj/"><em>Lady Bird Lake</em> by Bo Nielson</a></p>
</div>
<div class="row">
  <img src="<%= asset_path( 'LadyBirdLake_BoNielson.jpg' ) %>" alt="" />
  <p class=""><a href="https://www.flickr.com/photos/bo47/6184854411/in/photolist-e64zg2-e4N4Wv-cfskX9-6UK3Jb-ck6ztA-ddx6PF-4PjLT6-4PjMi4-7Xcntv-a6DojS-a6Dou9-8YPvqM-aqwZJT-edzHSa-eh8j1E-sdvaG-cdenVj-5UXuc1-eanhfK-5G26We-eanhV2-cet9Rf-dAgvDD-bVuc2m-aFuRxB-cH5sK9-eanhqx-6WNgQv-a1Rd71-bDhEyP-8ZoPpy-6M42Xx-fuY96e-6zQche-8UQJhG-9i861p-86jeVz-89HDGy-5FV3Qp-bbX7d-89HDH5-92LrLB-npE4zt-npnwRJ-c9iXkq-c9j3w5-c9j3XS-86jcne-nNGgqm-eZ5RXj/"><em>Lady Bird Lake</em> by Bo Nielson</a></p>
</div>
<div class="row">
  <img src="<%= asset_path( 'LadyBirdLake_BoNielson.jpg' ) %>" alt="" />
  <p class=""><a href="https://www.flickr.com/photos/bo47/6184854411/in/photolist-e64zg2-e4N4Wv-cfskX9-6UK3Jb-ck6ztA-ddx6PF-4PjLT6-4PjMi4-7Xcntv-a6DojS-a6Dou9-8YPvqM-aqwZJT-edzHSa-eh8j1E-sdvaG-cdenVj-5UXuc1-eanhfK-5G26We-eanhV2-cet9Rf-dAgvDD-bVuc2m-aFuRxB-cH5sK9-eanhqx-6WNgQv-a1Rd71-bDhEyP-8ZoPpy-6M42Xx-fuY96e-6zQche-8UQJhG-9i861p-86jeVz-89HDGy-5FV3Qp-bbX7d-89HDH5-92LrLB-npE4zt-npnwRJ-c9iXkq-c9j3w5-c9j3XS-86jcne-nNGgqm-eZ5RXj/"><em>Lady Bird Lake</em> by Bo Nielsen</a></p>
</div>