<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Name: 
    <%= f.text_field :name %></label>
  </div>
  <div class="field">
    <label>Address: 
    <%= f.text_field :address %></label>
  </div>
  <div class="field">
    <label>Zip: 
    <%= f.text_field :zip %></label>
  </div>
  <div class="field">
    <label>Your Preferred Contact Method: 
    <%= f.select :contact_method, options_for_select([
        ["Please select:", "no selection"],
        ["Weekly Email", "email"],
        ["Weekly Text", "text"],
        ["No Weekly Contact -- I'll check my recommendations online.", "decline"] ], f.object.contact_method
      ) %></label>
  </div>
  <div class="field">
    <label>Email: 
    <%= f.text_field :email %></label>
  </div>
  <div class="field">
    <label for="">Phone:
    <%= f.text_field :phone %></label>
  </div>

<%= fields_for :yard do |g| %>
  <div class="field">
    <p>Is your yard sloped? </p>
    <%= g.radio_button :slope, "flat" %> <%= g.label :slope, "My yard is flat!" %>
    <%= g.radio_button :slope, "slight" %> <%= g.label :slope, "My yard is slightly sloped!" %>
    <%= g.radio_button :slope, "steep" %> <%= g.label :slope, "My yard is very steep!" %>
  </div>

  <div class="field">
    <p>What kind of soil do you have? </p>
    <%= g.radio_button :soil, "clay" %> <%= g.label :soil, "Clay" %>
    <%= g.radio_button :soil, "loam" %> <%= g.label :soil, "Loam" %>
  </div>

  <div class="field">
    <p>Is your yard sloped? </p>
    <%= g.radio_button :sprinkler, "automatic" %> <%= g.label :sprinkler, "I have an automatic sprinkler system." %>
    <%= g.radio_button :sprinkler, "rotating" %> <%= g.label :sprinkler, "I have a rotating sprinkler that I connect to a hose." %>
  </div>

  <div class="field">
    <p>What kind of grass do you have? </p>
    <%= g.radio_button :grass, "buffalo" %> <%= g.label :grass, "Super drought-resistant Buffalo grass" %>
    <%= g.radio_button :grass, "carpetgrass" %> <%= g.label :grass, "Carpet Grass" %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit(:class => "button radius", value: "Save Information") %>
  </div>
<% end %>
