<%= form_for @user, :url => profile_path(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field columns small-12 medium-6">
    <label>Name: 
    <%= f.text_field :name %></label>
  </div>
  <div class="field columns small-12 medium-6">
    <label>Address: 
    <%= f.text_field :address %></label>
  </div>
  <div class="field columns small-12 medium-6">
    <label>Zip: 
    <%= f.text_field :zip %></label>
  </div>
  <div class="field columns small-12 medium-6">
    <label>Your Preferred Contact Method: 
    <%= f.select :contact_method, options_for_select([
        ["Please select:", "no selection"],
        ["Weekly Email", "email"],
        ["Weekly Text", "text"],
        ["No Weekly Contact -- I'll check my recommendations online.", "decline"] ], f.object.contact_method
      ) %></label>
  </div>
  <div class="field columns small-12 medium-6">
    <label>Email: 
    <%= f.text_field :email %></label>
  </div>
  <div class="field columns small-12 medium-6">
    <label for="">Phone:
    <%= f.text_field :phone %></label>
  </div>

<%= fields_for :yard do |g| %>

  <ul class="field row small-block-grid-2 medium-block-grid-4">
  <h5 class="columns small-12">What kind of grass do you have? </h5>
      <li><label for="yard_grass_buffalo">  
      <%= g.radio_button :grass, "buffalo" %>
      <img class="circle" src="<%= asset_path( 'buffalo.jpg' ) %>" alt="" />
      <p class="text-center">Buffalo Grass</p>
    </label></li>
<li><label for="yard_grass_st_augustine">
      <%= g.radio_button :grass, "st_augustine" %>
      <img class="circle" src="<%= asset_path( 'st_augustine.jpg' ) %>" alt="" />
      <p class="text-center">St. Augustine</p>
    </label></li>
    <li><label for="yard_grass_bermuda">
      <%= g.radio_button :grass, "bermuda" %>
      <img class="circle" src="<%= asset_path( 'bermuda.jpg' ) %>" alt="" />
      <p class="text-center">Bermuda</p>
    </label></li>
    <li><label for="yard_grass_zoysia">
      <%= g.radio_button :grass, "zoysia" %>
      <img class="circle" src="<%= asset_path( 'zoysia.jpg' ) %>" alt="" />
      <p class="text-center">Zoysia</p>
    </label></li>
  </ul>

    <ul class="field row small-block-grid-2 medium-block-grid-4">
  <h5 class="columns small-12">What kind of sprinkler do you have? </h5>
    <li><label for="yard_sprinkler_automatic">
      <%= g.radio_button :sprinkler, "automatic" %>
      <img class="circle" src="<%= asset_path( 'automatic.jpg' ) %>" alt="" />
      <p class="text-center">Automatic Sprinkler</p>
    </label></li>
    <li><label for="yard_sprinkler_hose_end">
      <%= g.radio_button :sprinkler, "hose_end" %>
      <img class="circle" src="<%= asset_path( 'hose_end.jpg' ) %>" alt="" />
      <p class="text-center">Hose-End Sprinkler</p>
    </label></li>
  </ul>

  <div class="panel callout columns small-12 radius">
    <h5>Sprinkler Flow</h5>
    <p><em>Dont' worry!</em> If you don't have time to do this right now, we will still estimate for you.  But this will help you water much more accurately.  So come back and fill it in when you have time!</p>
    <p><strong>How To:</strong> Set out small cans, such as a tuna can, in several locations in your yard.  Start your sprinkler and set a timer.  Record what fraction of an inch of water collects during what length of time.  If your sprinkler flow is slightly varied, just take the average.  If your sprinkler flow is very inconsistent in different locations, you should probably look into updating your sprinkler.  Best results occur when you collect at least 1/4 inch.  </p>
  <div class="field columns small-12 medium-6">
    <label for="">Minutes:
    <%= g.number_field :sprinkler_flow_minutes %></label>
  </div>
  <div class="field columns small-12 medium-6">
    <label for="">Inches:
    <%= g.select(:sprinkler_flow_inches, [["1/4 inch", 0.25], ["1/2 inch", 0.5], ["3/4 inch", 0.75], ["1 inch", 1]]) %></label>
  </div>
  </div>

  <% end %>

  <div class="actions">
    <%= f.submit(:class => "button radius", value: "Save Information") %>
    </div>
<% end %>
