<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field columns small-12 medium-6">
    <label>Name: 
    <%= f.text_field :name %></label>
  </div>
  <div class="field columns small-12 medium-6">
    <label>Address: 
    <%= f.text_field :address %></label>
  </div>
  <div class="field columns small-12 medium-6">
    <label>Zip: 
    <%= f.text_field :zip %></label>
  </div>
  <div class="field columns small-12 medium-6">
    <label>Your Preferred Contact Method: 
    <%= f.select :contact_method, options_for_select([
        ["Please select:", "no selection"],
        ["Weekly Email", "email"],
        ["Weekly Text", "text"],
        ["No Weekly Contact -- I'll check my recommendations online.", "decline"] ], f.object.contact_method
      ) %></label>
  </div>
  <div class="field columns small-12 medium-6">
    <label>Email: 
    <%= f.text_field :email %></label>
  </div>
  <div class="field columns small-12 medium-6">
    <label for="">Phone:
    <%= f.text_field :phone %></label>
  </div>

<%= fields_for :yard do |g| %>

  <ul class="field row small-block-grid-2 medium-block-grid-4">
  <h5 class="columns small-12">What kind of grass do you have? </h5>
      <li><label for="yard_grass_buffalo">  
      <%= g.radio_button :grass, "buffalo" %>
      <img class="circle" src="<%= asset_path( 'buffalo.jpg' ) %>" alt="" />
      <p class="text-center">Buffalo Grass</p>
    </label></li>
<li><label for="yard_grass_st_augustine">
      <%= g.radio_button :grass, "st_augustine" %>
      <img class="circle" src="<%= asset_path( 'st_augustine.jpg' ) %>" alt="" />
      <p class="text-center">St. Augustine</p>
    </label></li>
    <li><label for="yard_grass_bermuda">
      <%= g.radio_button :grass, "bermuda" %>
      <img class="circle" src="<%= asset_path( 'bermuda.jpg' ) %>" alt="" />
      <p class="text-center">Bermuda</p>
    </label></li>
    <li><label for="yard_grass_zoysia">
      <%= g.radio_button :grass, "zoysia" %>
      <img class="circle" src="<%= asset_path( 'zoysia.jpg' ) %>" alt="" />
      <p class="text-center">Zoysia</p>
    </label></li>
  </ul>

    <ul class="field row small-block-grid-2 medium-block-grid-4">
  <h5 class="columns small-12">What kind of sprinkler do you have? </h5>
    <li><label for="yard_sprinkler_automatic">
      <%= g.radio_button :sprinkler, "automatic" %>
      <img class="circle" src="<%= asset_path( 'automatic.jpg' ) %>" alt="" />
      <p class="text-center">Automatic Sprinkler</p>
    </label></li>
    <li><label for="yard_sprinkler_hose_end">
      <%= g.radio_button :sprinkler, "hose_end" %>
      <img class="circle" src="<%= asset_path( 'hose_end.jpg' ) %>" alt="" />
      <p class="text-center">Hose-End Sprinkler</p>
    </label></li>
  </ul>
  <% end %>

  <div class="actions">
    <%= f.submit(:class => "button radius", value: "Save Information") %>
    </div>
<% end %>
