
<div class="row">

  <div class="columns small-12">
  <h2 class="left"><%= @user.name %>'s Profile</h2> 
  <%= link_to edit_user_path(@user) do %>
    <i class="fi-pencil medium right"></i>
  <% end %>
  </div>

  <div class="columns small-12">
    <% if @user.formatted_address.nil? %>
      <p><i class="fi-home small"></i> <%= @user.address %>, <%= @user.zip %></p>
    <% else %>
      <p><i class="fi-home small"></i> <%= @user.formatted_address %></p>
    <% end %>
    <% if @user.contact_method == "no selection" or @user.contact_method.nil? %>
      <p><i class="fi-alert small"></i> You have not yet selected a weekly contact method!</p>
    <% elsif @user.contact_method == "email" %>
      <p><i class="fi-laptop small"></i> You have selected to receive a weekly email at <%= @user.email %>.</p>
    <% elsif @user.contact_method == "text" %>
      <p><i class="fi-telephone small"></i> You have selected to receive a weekly text message at <%= @user.phone %>.</p>
    <% elsif @user.contact_method == "decline" %>
      <p><i class="fi-laptop small"></i>  You have selected to not receive weekly watering updates and can check out your recommendations online.</p>
    <% end %>
    
  </div>

</div>  

<div class="yard-info row">
  <div class="columns small-12">
    <h3 class="left">Your Yard</h3> 
  </div>

  <div class="columns small-12">
    <p>
      <strong>Primary Grass Type:</strong>
      <%= @yard.grass %>
    </p>

    <p>
      <strong>Slope:</strong>
      <%= @yard.slope %>
    </p>

    <p>
      <strong>Soil Type:</strong>
      <%= @yard.soil %>
    </p>  

    <p>
      <strong>Sprinkler Style:</strong>
      <%= @yard.sprinkler %>
    </p>
  </div>
</div>



