
<div class="row">

  <div class="columns small-12 medium-8">

      <h2 class="columns small-9"><%= @user.name %>'s Profile</h2> 
      <%= link_to edit_path do %>
        <i class="fi-pencil medium columns small-2"></i>
      <% end %>



  <div class="row">
    <div class="columns small-12">
      
    <% if @user.formatted_address.nil? %>
      <p><i class="fi-home small"></i> <%= @user.address %>, <%= @user.zip %></p>
    <% else %>
      <p><i class="fi-home small"></i> <%= @user.formatted_address %></p>
    <% end %>

    <% if @user.contact_method == "no selection" or @user.contact_method.nil? %>
      <p><i class="fi-alert small"></i> You have not yet selected a weekly contact method!</p>
    <% elsif @user.contact_method == "email" %>
      <p><i class="fi-laptop small"></i> You have selected to receive a weekly <strong>email</strong> at <%= @user.email %>.</p>
    <% elsif @user.contact_method == "text" %>
      <p><i class="fi-telephone small"></i> You have selected to receive a weekly <strong>text message</strong> at <%= @user.phone %>.</p>
    <% elsif @user.contact_method == "decline" %>
      <p><i class="fi-laptop small"></i>  You have selected to not receive weekly watering updates and can check out your recommendations online.</p>
    <% end %>

    <p><i class="fi-calendar small"></i> Your Watering Day: <strong><%= @yard.day %></strong></p>

    <% if @yard.sprinkler_flow %>
    <p><i class="fi-clock small"></i> Your Sprinkler Rate: <strong><%= @yard.sprinkler_flow %> minutes for 1 inch</strong></p>
    <% else %>
    <p><i class="fi-clock small"></i> You haven't set your sprinkler rate yet.  We'll estimate it for you!</p>
    <% end %>
    </div>
  </div>
   

  <div class="row space-top">
    <div class="columns small-11 border-top">
  </div>
</div>
      
    <h3 class=" columns small-9">Your Watering Plans</h3>
    <%=link_to plan_path do %>
    <i class="fi-magnifying-glass medium columns small-2"></i>
    <% end %>

<div class="row">
  <div class="columns small-12">
    
    <table class="space-top">
      <thead>
        <tr>
          <th>Watering Day</th>
          <th>Suggested Watering</th>
        </tr>
      </thead>

      <tbody>
        <% @recommendations.each do |recommendation| %>
            <% watering_date = recommendation.created_at.to_date + 1 %>
            <td><%= watering_date.strftime('%A, %B %d, %Y') %></td>
            <td><%= recommendation.min_irrigation.round(2) %> - <%= recommendation.max_irrigation.round(2) %> inches</td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
    

    </div>



  <div class="columns small-12 medium-4 yard-pics">
    <p class="text-center">
      <strong>Primary Grass Type:</strong>
      <%= @yard.grass.capitalize.sub("_a", ". A") %>
    </p>
    <img class="circle" src="<%= asset_path( "#{@yard.grass}.jpg" ) %>" alt="" />

    <p class="text-center">
      <strong>Sprinkler Style:</strong>
      <%= @yard.sprinkler.capitalize %>
    </p>
      <img class="circle" src="<%= asset_path( "#{@yard.sprinkler}.jpg" ) %>" alt="" />
  </div>


  </div>



