<!DOCTYPE html>
<html>
<head>
  <title>sprinklr!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- nav disabled if not signed in  -->
  <% unless @disable_nav %>
  <%= render 'partials/nav'%>
  <% end %>
  
  <!-- for everything but welcome page -->
  <% unless @welcome_only %>
  <br>
  <div class="row">
    <div class="columns small-12 large-8">
        <br>
        
        <% if !notice.nil? || !alert.nil? %>
        <div class="row">
          <div class="columns small-12 medium-8 large-6 small-centered">
            <div class="panel callout radius">
              <p class="notice"><%= notice %> <%= alert %></p>     
            </div>
          </div>
        </div>
        <% end %>
      
      <%= yield %>  
    </div>
    <div class="columns large-3 show-for-large-up panel">
      <%= render 'partials/sidebar'%>    
    </div>
  </div>
  <% end %>
  
<!--   For welcome page only: -->
  <% if @welcome_only %>
  <%= yield %>
  <% end %>
  
  <%= javascript_include_tag "application" %>
</body>
</html>
