<!DOCTYPE html>
<html>
<head>
  <title>SPRINKLR</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- nav disabled if not signed in  -->
  <%   unless @disable_nav %>
  <%= render 'partials/nav'%>
  <% end %>
<!-- for everything but welcome page -->
  <% unless @welcome_only %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> 
  
  <div class="row">
    <div class="columns small-12 medium-9">
      <%= yield %>  
    </div>
    <div class="columns medium-3">
      <%= render 'partials/sidebar'%>    
    </div>
  </div>
  <% end %>
  
<!--   For welcome page only: -->
  <% if @welcome_only %>
  <%= yield %>
  <% end %>
  
  <%= javascript_include_tag "application" %>
</body>
</html>
